<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src = "../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Snehal Paliwal">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Snehal Paliwal Professional Website">
    <title>Snehal Paliwal</title>
</head>
<body onload = " addYear()">
    <header>
        <h1 id = "webname">Snehal Paliwal</h1>
        <nav  id="myTopnav" class="topnav">
            <a href = "index.html">Home</a>
            <a href = "cv.html" class="active">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i> 
            </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table border = "2">
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Carnegie Mellon University </td><td>B.S. Information Systems GPA: 3.75</td></tr>
            <tr><td>WWP High School South</td><td>GPA: 4.00</td></tr>
            <tr><td>CMU Undergraduate Consulting Club South</td><td>Consultant</td></tr>
            <tr><td>Braathe Enterprises</td><td>Finance Intern and Co-Lead</td></tr>
            <tr><td>Bumper Investing</td><td>High School Ambassador</td></tr>
        </table>
        <a
            href = "../static/Resume_250.pdf"
            target = "_blank"
        >
        <br>My Resume, PDF Version
        </a>
    </div>
    <footer>
        <p id="copyYear">Snehal Paliwal &copy</p>
    </footer>
</body>
</html>